/* Error: expected "{".
 *    ,
 * 69 | >>>>>>> a60940bc87a241e7541197e172cf4b0d8ef9ec68
 *    |                                                 ^
 *    '
 *   style.scss 69:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 69 \2502  >>>>>>> a60940bc87a241e7541197e172cf4b0d8ef9ec68\d\a    \2502                                                  ^\a    \2575 \a   style.scss 69:49  root stylesheet';
}
