body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: 0;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  color: #fff;
}
.logo_black {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: #299EF3;

}

select {
  outline: 0;
  border: none;
  background: none;
}

.section__side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.grid {
  display: grid;
}
.grid__col-6 {
  grid-template-columns: 1fr 1fr;
}
.grid__col-4 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

.hero {
  padding-top: 100px;
  position: relative;
  height: calc(100vh - 100px);
}
.hero .container {
  height: 100%;
}
.hero .grid {
  height: 100%;
}
.hero__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 44px;
  line-height: 64px;
  letter-spacing: 0.64px;
  color: #03060B;
  border: #316099 5px solid;
  border-radius: 10px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100px;
  background: #5A98D0;
}
.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .btn {
  height: 40px;
  width: 90px;
  background: #316099;
  border: solid 1px #316099;
  border-radius: 10px;
}

.section__main-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #272D4E;
}
.section__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #272D4E;
}
.section__desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #94A2B3;
}
.section__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #299EF3;
}

.covid {
  height: 100vh;
  background: url("../images/covid/covid.jpeg") no-repeat center/cover;
  padding: 85px 0;
}
.covid__info{
  width:400px ;
}
.covid__title {
  color: #fff;
}


.about {
  height: calc(100vh - 160px);
  padding: 80px 0;

  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%)
}
.about__main-title {
  margin-bottom: 35px;
  align-items: center;
}
.about img {
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.about__title {
  margin: 15px 0;
}
.about__desc {
  margin-bottom: 15px;
}


