body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: 0;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.select select {
  display: inline-block;
  border: none;
  background: none;
  appearance: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 50px;
  z-index: 1;
}

.section__side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.grid {
  display: grid;
}
.grid__col-6 {
  grid-template-columns: 1fr 2fr;
}
.grid__col-4 {
  grid-template-columns: 1fr 1fr 1fr;
}

.hero {
  padding-top: 100px;
  position: relative;
  height: calc(100vh - 100px);
}
.hero .container {
  height: 100%;
}
.hero .grid {
  height: 100%;
}
.hero__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.64px;
  color: #03060B;
}
.hero__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.16px;
  color: #445B78;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100px;
  background: #FFF1DA;
}
.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .btn {
  height: 40px;
  width: 90px;
  background: #7d74fd;
  border: solid 1px #7d74fd;
  border-radius: 10px;
}

.operators {
  height: 100vh;
  background: aqua;
}
.operators .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.operators__logo {
  cursor: pointer;
}
.operators__logo p {
  font-size: 40px;
}
.operators__megacom:hover + operators__oshka {
  color: #7d74fd;
}

.covid {
  background: url("../images/Covid-19-1.jpeg") no-repeat center/cover;
  padding: 85px 0;
}
.covid__info {
  width: 400px;
}
.covid__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  color: #FFFFFF;
}
.covid__vaccination {
  background: coral;
}
.covid__mb {
  color: crimson;
  font-size: 25px;
}

.partners {
  height: 1122px;
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
}
.partners__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
  padding-top: 56px;
}
.partners__card img {
  margin: 40px 30px 15px 0;
  text-align: center;
}
.partners__job {
  height: 350px;
  background: #316099;
  border-radius: 0 200px 0 0;
  padding: 91px 0 0 216px;
  display: flex;
}
.partners__work {
  font-size: 25px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 317px;
}
.partners__desk {
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 460px;
}
.partners__navbar {
  padding: 104px 0 0 93px;
}
.partners__link {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__link:hover {
  background: #9199a2;
  color: #2c23b6;
}

.footer {
  background: #5A98D0;
  padding: 60px 0 0 96px;
}
.footer__title {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
}
.footer__title:hover {
  color: #445B78;
}
.footer__content {
  display: block;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.footer__link:hover {
  text-decoration: underline;
  color: #445B78;
}
.footer__number {
  color: #FFFFFF;
}
.footer__copyright {
  padding: 80px 0 80px;
}
.footer__icons i {
  margin-right: 15px;
  transition: 0.6s;
}
.footer__icons i:hover {
  transform: rotate(360deg);
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
